.jumbotron{
    width: 100%;
    height: 50%;
    overflow: hidden;
    background-color: rgba(35,35,35, 0.3);
    color: white;
    padding-top: 10em;
    text-shadow: 2px 2px black;
}
.textWhite{
    color: white !important;
}
#jumbotronVid{
    position: absolute;
    height: 48vh;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 5px rgba(35,35,35, 0.9);
}
#jumbotronVid video{
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    background-size: cover;
    overflow: hidden;
}
.presentation{
    margin-top: 10em;
}
.presentation{
    margin-top: 10em;
}
.presentationimgHalf{
    width: 50%;
}
.presentationimgFull{
    width: 100%;
}
.btn{
    text-shadow: 2px 2px black;
}

@media only screen and (max-width:768px){
    .display-2{
        font-size: 3em;
    }
    .presentationimgHalf{
        width: 80%;
    }
}