<!DOCTYPE html>
<html lang="en" style='height: 100%'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../login/utils/redirectToLogin.ejs') %>
    <%- include('../bootstrap/bootstrap.ejs') %>
    <title>Messages</title>
</head>
<body style='height: 100%'>
    <%- include('../navbar/navbar.ejs')%>
    <div class='container h-100 remove-padding-margin'>
        <div class='row h-100'>
            <div class="FriendList col-md-3 lightBlackContrast-bg text-light seperatingBorder-top" style="height:100%">
                <div>Peter cheng</div>
                <div>Peter cheng2</div>
                <div>Peter cheng3</div>
            </div>
            <div class="MessageBox lightBlack-bg seperatingBorder-top col-md-9">
                <div>text message1</div>
                <div>text message2</div>
                <div>text message3</div>
                <div>text message3</div>
                <div>text message3</div>
            </div>
        </div>
    </div>
</body>
</html>