.Wrapper{
    height: 100vh;
}
.container{
    color: whitesmoke;
    height: 100%;
}
.HalfWidth{
    width: 50%;
}
hr{
    margin: 2em 0;
    background-color: skyblue;
}


/* 
    for user pannel
*/

.UserPannelDisplay{
    display: none;
}
.textAreaDesc{
    background-color:rgb(48, 49, 54) ;
    border-color: whitesmoke;
    color: white;
}

@media only screen and (max-width:768px){
    .Wrapper{
        height: 150vh;
    }
   .ProfilePic img{
        width: 50%;
    }
}
