<nav class="navbar navbar-expand-lg navbar-dark bg-dark zindex-2">
    <a class="navbar-brand" href="/">
        MSGBox
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chat-left-text-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
        </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home</a>
        <% if(!renderOBJ.user){ %>
          <a class="nav-item nav-link active" href="/login">Login</a>
          <a class="nav-item nav-link active" href="/register">Register</a>
        <%}else{%>
          <a class="nav-item nav-link active" href="/messages">Messages</a>
          <a class="nav-item nav-link active" href="/myaccount">My Account</a>
        <%}%>
      </div>
    </div>
</nav>